services:
  backlog-mcp:
    build:
      context: .
      network: host
    image: backlog-mcp:latest
    ports:
      - "8081:8081"
    environment:
      - HOST_ROOT=/home/ferreirase/Documents
      - DEFAULT_PROJECT_PATH=/home/ferreirase/Documents/Estudos/AI/stdio2sse
      - BASE_URL=${BASE_URL:-http://localhost:8081}
      - PORT=8081
    volumes:
      - /home/ferreirase/Documents:/data
    restart: unless-stopped
